@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;500;600;700;900&display=swap');
*{
  margin:0;
  padding:0;
  font-family: 'Source Code Pro', monospace;
}
.app-body{
  background: whitesmoke;
  display: flex;
  justify-content: space-between;
  /* margin-top: 10px; */
  /* height: 100vh; */
}
